/**
 * Styles for MarketplaceExtensions component
 */

.emptyState {
  padding: 4rem 0;
}

.iconLarge {
  font-size: 64px;
  opacity: 0.3;
  margin-bottom: 1rem;
}

.emptyText {
  color: var(--textColorSecondary);
}
