name: Automated npm version

on:
  workflow_dispatch:
    inputs:
      newversion:
        description: New version (X.Y.Z | major | minor | patch | premajor | preminor | prepatch | prerelease)
        required: true
        default: patch

permissions:
  contents: write
  pull-requests: write

jobs:
  npm-version:
    name: npm version

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x64

    runs-on: ${{ matrix.os }}
    environment: automated
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm cache directory
        shell: bash
        run: echo "pnpm_cache_dir=$(pnpm store path)" >> ${GITHUB_ENV}

      - name: Use pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.pnpm_cache_dir }}
          key: ${{ matrix.os }}-${{ matrix.arch }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.arch }}-node-

      - name: Install pnpm dependencies
        id: install-pnpm
        run: timeout 300 pnpm install --color=always --prefer-offline --frozen-lockfile
        continue-on-error: true

      - name: Install pnpm dependencies (retry)
        if: steps.install-pnpm.outcome == 'failure'
        run: timeout 300 pnpm install --color=always --prefer-offline --frozen-lockfile

      - name: Set version
        run: |
          set -eo pipefail
          pushd freelens
            pnpm version "$newversion" --no-git-tag-version --no-workspaces-update | tee .github/update.log
          popd
          jq -r .version freelens/package.json > .github/version.log
          sed -e 's/\x1b\[[0-9;]*m//g' .github/update.log > .github/pr_body.log
          sed -i 's/<release version="[^"]*" date="[^"]*">/<release version="'"$version"'" date="'$(LC_ALL=C date +%Y-%m-%d)'">/' freelens/build/metainfo.xml
        env:
          newversion: ${{ github.event.inputs.newversion }}

      - name: Update pnpm dependencies
        id: update-pnpm
        run: timeout 300 pnpm install --color=always --prefer-offline
        continue-on-error: true

      - name: Update pnpm dependencies (retry)
        if: steps.update-pnpm.outcome == 'failure'
        run: timeout 300 pnpm install --color=always --prefer-offline

      - name: Check for changes
        run: |
          if git diff --exit-code; then
            echo "changes=false" >> $GITHUB_ENV
          else
            echo "changes=true" >> $GITHUB_ENV
          fi

      - name: Commit and push to branch
        if: env.changes == 'true'
        uses: EndBug/add-and-commit@v9
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          default_author: github_actions
          message: Automated npm version ${{ github.event.inputs.newversion }}
          new_branch: automated/npm-version
          fetch: false
          push: origin automated/npm-version --set-upstream --force

      - name: Create pull request
        id: pr
        if: env.changes == 'true'
        uses: devops-infra/action-pull-request@master
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          target_branch: main
          label: automated
          title: Automated npm version v${{ github.event.inputs.newversion }}
          get_diff: false

      - name: Update pull request description
        if: env.changes == 'true'
        run: gh pr edit ${{ steps.pr.outputs.pr_number }} --title "Automated npm version v$(cat .github/version.log)" --body-file .github/pr_body.log
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Close pull request
        if: env.changes == 'false'
        run: gh pr list --head automated/npm-version --json number --jq '.[].number' | xargs -rn1 gh pr close --delete-branch
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
