name: Publish NPM release

on:
  push:
    branches:
      - publish/*
  workflow_dispatch: {}

permissions:
  contents: write
  id-token: write

jobs:
  publish-npm-release:
    name: publish NPM release

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x64

    runs-on: ${{ matrix.os }}
    environment: publishing

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: https://registry.npmjs.org

      - name: Upgrade npm
        run: npm install -g npm@11

      - name: Setup pnpm
        run: corepack enable

      - name: Get pnpm cache directory
        shell: bash
        run: echo "pnpm_cache_dir=$(pnpm store path)" >> ${GITHUB_ENV}

      - name: Use pnpm cache
        uses: actions/cache@v5
        with:
          path: ${{ env.pnpm_cache_dir }}
          key: ${{ matrix.os }}-${{ matrix.arch }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.arch }}-node-

      - name: Install pnpm dependencies
        id: install-pnpm
        shell: bash
        run: pnpm install --color=always --prefer-offline --frozen-lockfile
        continue-on-error: true

      - name: Install pnpm dependencies (retry)
        if: steps.install-pnpm.outcome == 'failure'
        shell: bash
        run: pnpm install --color=always --prefer-offline --frozen-lockfile

      - name: Build packages
        run: pnpm --color=always --stream build

      - name: Publish npm packages
        id: publish-npm
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        env:
          NPM_CONFIG_PROVENANCE: "true"
        continue-on-error: true

      - name: Publish npm packages (retry)
        id: publish-npm-2
        if: steps.publish-npm.outcome == 'failure'
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        env:
          NPM_CONFIG_PROVENANCE: "true"
        continue-on-error: true

      - name: Publish npm packages (retry 2)
        if: steps.publish-npm-2.outcome == 'failure'
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        env:
          NPM_CONFIG_PROVENANCE: "true"
