name: Trunk Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  trunk:
    name: Trunk Check

    runs-on: ubuntu-22.04
    timeout-minutes: 15

    env:
      DO_NOT_TRACK: "1"

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
        with:
          check-mode: all
